<%= form_for @club, :html => {:multipart => true} do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <p> 
    <%= f.hidden_field(:picture_cache) %>
    <%= f.file_field :picture %>
  </p>
  <div class="field">
    <%= f.label :college_id %><br />
    <%= f.collection_select :college_id, College.all, :id,:name %>
  </div>
  <div class="control-group">
    <%= f.label :tag_list, "Tags (seperated by commas)", :class=>"control-label" %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
