<h1><%=link_to "clubs", clubs_path%></h1>
<div id="tag_cloud">
  <% tag_cloud Club.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<h2></h2>
<% @clubs.each do |club| %>
<div class="hero-unit">
    <h2><%= link_to club.name, club %></h2>
     <%= image_tag(club.picture_url(:thumbnail), size:"300x300") %>
    <p>Description: <%= club.description %></p>
    <p>Contact: <%= mail_to club.contact %></p>
    <%=link_to club.url, club.url %></br>
    <p>
      Tags = <%= raw club.tag_list.map { |t| link_to t, tag_path(t)}.join(',') %>
    </p>
</div>

<% end %>

<br />

<%= link_to 'New Club', new_club_path %>
