<h1>Listing clubs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Club.top10.each do |club| %>
  <tr>
    <td><%= link_to club.name, club %></td>
    <td><%= club.description %></td>
    <td><%= club.contact %></td>
    <td><%= club.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club', new_club_path %>
