<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input id="user_name" name="user[name]" size="30" type="text" placeholder="Name">
  </div>
  <div class="field">
    <input id="user_email" name="user[email]" size="30" type="email" placeholder="Email">
  </div>
  <div class="field">
    <input type="password" placeholder="Password">
  </div>
  <p> Preferences </p>
  <div class="field">
  <% @allPreferences.each {|p|  %>
    
      <%= check_box_tag "preferences[]",p %>
      <%= p %>
    
  <% } %>
  </div>
  <div class="actions">
    <input name="commit" class="btn btn-primary btn-large" type="submit" value="Sign Up">
    <input name="commit" class="btn btn-inverse btn-large" type="submit" value="Sign In">
  </div>

<% end %>
