<h1><%=link_to "Colleges", colleges_path%></h1>
</br>
<% @colleges.each do |college| %>
  <div class="hero-unit">
    <h2><%= college.name %></h2>
    <% college.clubs.each do |club| %>
      <div class="hero-unit">
    <h2><%= link_to club.name, club %></h2>
     <%= image_tag(club.picture_url(:thumbnail), size:"300x300") %>
    <p>Description: <%= club.description %></p>
    <p>Contact: <%= mail_to club.contact %></p>
    <%=link_to club.url, club.url %></br>
    <p>
      Tags = <%= raw club.tag_list.map { |t| link_to t, tag_path(t)}.join(',') %>
    </p>
</div>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to 'New College', new_college_path %>
